html {
position : relative;
min-height : 100%;
}
body {
margin : 0 0 100px;
padding : 25px;
}

div {
color: white;
}

.checkmark {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.blue {
  width: 2rem;
  height: 2rem;
  margin: .5rem;
}

.green {
  width: 2rem;
  height: 2rem;
  margin: .5rem;
}

.main-div {
    text-align: center;
    margin: auto;
}
/**
 * Demo Styles
 */

.anim, .anim svg {
  position: relative;
  width: 100%;
  height: 100%;
}
.anim path {
  stroke-width: 2;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.list-inline{
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

#privacy {
    display: inline-block;
    margin-top: 5px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

    button.accordion {
        background: url(img/mainbg.png);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        }

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    display: none;
}

body {
  background: url(img/mainbg.png);
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

/**
* H Styles
*/
h1, h2, h3, h4, h5 {
    color:white;
}


.headerText {
    width: 100%;
    height: 50%;
    text-align: center;
}

/**
 * Footer Styles
 */

.icons {
  position: absolute;
  left: 0;
  right: 0;
  padding: 2rem;
  color:white;
  text-align: center;
}

.footer {
  background: url(img/background.png);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

a {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:white;}  /* selected link */

.privacy-policy {
    text-decoration: none;
}

.remove-a:link {
    color: black;
}

.remove-a:visited {
    color: black;
}

.remove-a:hover {
    color: black;
}

.remove-a:active {
    color:black;
}

#center {
    margin: 0 auto;
}

/**
* NAV bar
**/

.nav-style {
    background: url(img/background.png);
}

nav {
    right: 0;
    left: 0;
	padding: 1rem;
    position: relative;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 1rem;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
}

nav a:hover {
	background: url(img/mainbg.png);
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 1em;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
	transition: background 1s;
}
